@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: lightgreen;
}
:root{
    --fontprincipal: "Bebas Neue", "arial", "sans-serif";
    --fontesecundaria: "Caveat", "cursive";
}
ul{
    list-style: none;
    font-size: 26px;
    display: flex;
    justify-content: right;
}
a{
    text-decoration: none;
    color: white;
    font-family: var(--fontesecundaria);
    margin: 10px;
    padding: 30px 5px ;
}
a:hover{
    text-decoration: underline;
}
body{
    background: url(imagens/giphy.gif) no-repeat center center fixed;
    background-size: cover; 
}
.conteudo{
    text-align: center;
}
h1{
    font-family: var(--fontprincipal);
    font-size: 100px;
    padding: 100px 0px 0px 0px;
}
h5{
    font-family: var(--fontprincipal);
    font-size: 26px;
}
p{
    font-family: var(--fontesecundaria);
    max-width: 600px;
    margin: auto;
    text-align: center;

}
.sobre > p{
    font-size: 30px;
    color: lightpink;
}
.form{
    width: 40%;
    margin: auto;
}
button{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 15%;
}