@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: lightgreen;
}
:root{
    --fontprincipal: "Bebas Neue", "arial", "sans-serif";
    --fontesecundaria: "Caveat", "cursive";
}
ul{
    list-style: none;
    font-size: 26px;
    display: flex;
    justify-content: right;
}
a{
    text-decoration: none;
    color: lightpink;
    font-family: var(--fontesecundaria);
    margin: 10px;
    transition: 300ms;
} 
a:hover{
    text-decoration: underline;
    background-color: white;
    background-size: cover;
}
body{
    background: url(imagens/giphy.gif) no-repeat center center fixed;
    background-size: cover; 
}
.conteudo{
    text-align: center;
}
h1{
    font-family: var(--fontprincipal);
    font-size: 100px;
    padding: 100px 0px 0px 0px;
    text-shadow: 8px 8px 16px rgba(144, 238, 144, 0.13);
}
h5{
    font-family: var(--fontprincipal);
    font-size: 26px;
    text-shadow: 3px 3px 9px rgba(144, 238, 144, 0.24);
}
#icone{
    font-size: 35px;
    cursor: pointer;
    animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
    to{
        visibility: hidden;
    }
}
#animação{
    transition: 300ms;
}
.rotate{
    transform: rotate(180deg);
    transition: 300ms;
}
.ativar{
    display: block !important;
}
p{
    font-family: var(--fontesecundaria);
    max-width: 600px;
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(144, 238, 144, 0.24);
    padding-top: 15px;
    padding-bottom: 15px;
}
#sobre p{
    font-size: 30px;
    max-width: 600px;
    color: lightpink;
    background-color: rgba(0, 0, 0, 0.527);
    border-radius: 15px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.356) ;
    text-shadow: 3px 3px 9px rgba(255, 182, 193, 0.274);
    padding-bottom: 15px;
}
.form input{
    font-family: Verdana, Tahoma, sans-serif;
    width: 25%;
    padding: 5px 10px;
    border: none;
    font-weight: 600;
    border-radius:  5px 0px 0px 5px;
}

.form button{
    background-color: lightgreen;
    color: black;
    font-family: Verdana, Tahoma, sans-serif;
    background-size: 200% 100%;
    width: 15%;
    padding: 5px 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin: -4px;
    border-radius:  0px 5px 5px 0px;
}
button:hover{
    background-color: aqua;
}